@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

html {
	background: #888;
	background-image:
		radial-gradient(50% 45% ellipse at center top, #333 30%, rgba(0,0,0,0) 100%),
		radial-gradient(75% 15% ellipse at center bottom, #333 50%, #000 100%);
}

body {
	margin: 0;
	padding: 0;

	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	color: #FFF;
	font-family: 'Inconsolata',  Sans-serif;
}

header h1 {
	font-size: 56pt;
	line-height: 100px;

}

#main {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 25px;
}

.list li {
	display: inline;
	margin: 25px;
}

.item {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #000;
	border-radius: 10px 300px 10px 300px;

}

.red {
	background: #F00;
	animation-name: flash;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.orange {
	background: #FF7F00;
	animation-name: flash;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.yellow {
	background: #FFFF00;
	animation-name: flash;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.green {
	background: #00FF00;
	animation-name: flash;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.blue {
	background: #0000FF;
	animation-name: flash;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.indigo {
	background: #8F00FF;
	animation-name: flash;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.violet {
	background: #4B0082;
	animation-name: flash;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes flash {
	0% {opacity: 1;}
	50% {opacity: .1;}
	100% {opacity: 1;}
}

#alterar {
	margin: 10px;
	margin-top: 25px;
	margin-bottom: 5px;
	padding: 5px;
	border: 0px;
	border-radius: 5px;
	width: 250px;
	font-size: 14pt;
}

#alterar:hover {
	background-color: #4682B4;
	color: #FFF;
	cursor: pointer;
}

#buttons {
	margin-top: 50px;
}

#ligar {
	margin: 10px;
	margin-bottom: 5px;
	padding: 5px;
	border: 0px;
	border-radius: 5px;
	width: 200px;
	font-size: 14pt;
}

#ligar:hover {
	background-color: #3CB371;
	color: #FFF;
	cursor: pointer;
}

#desligar {
	margin: 10px;
	margin-bottom: 5px;
	padding: 5px;
	border: 0px;
	border-radius: 5px;
	width: 200px;
	font-size: 14pt
}

#desligar:hover{
	background-color: #FF6347 ;
	color: #FFF;
	cursor: pointer;
}

footer {
	font-size: 18pt;
	margin-top: 95px;

	padding-bottom: 55px;
}